# Principled Preferential Bayesian Optimization
# https://arxiv.org/abs/2402.05367
#
# Main algorithm

# @package _global_

defaults:
  - /default
  - _self_

social_welfare_function: beale

reward_type: tw
learning_algorithm: oracle

kernel_type: matern

RKHS_bound: 20

horizon: 30
epsilon: ${div:1,${horizon}}
delta: 0.02

learn_utilities: False