# @package _global_

defaults:
  - /utilities_strategy/dc
  - _self_

seed: ${generate_random_seed:}

reward_type: tw
learning_algorithm: oracle

# Type of the kernel used for Bayesian optimization (linear, exponential, gaussian or matern)
kernel_type: gaussian

RKHS_bound: 0.2
beta: 2

horizon: 30

learn_utilities: False